/* ==========================================================================
   Header navigation (location : primary)
   ========================================================================== */

@use '@scss/abstracts/index' as *;

:root {
	--color-menu-dropdown-bg: var( --color-primary );
	--color-menu-dropdown-bg-hover: hsl( 0, 0%, 95% );
	--color-menu-dropdown-text: var( --color-white );
	--width-menu-dropdown: 10.625rem;
}

.header-navigation {
	align-items: center;
	display: flex;

	@include list-reset;

	a {
		display: flex;
		color: var( --color-primary );

		@include link-reset;

		@include respond( $breakpoint-desktop-menu ) {
			color: var( --color-white );
		}
	}
}

.primary-navigation {
	&[data-navigation-type='desktop'] {
		display: none;

		@include respond( $breakpoint-desktop-menu ) {
			display: flex;
		}
	}

	&[data-navigation-type='mobile'] {
		margin-bottom: 1rem;
	}

	&--main {
		@include respond( $breakpoint-desktop-menu ) {
			margin-right: auto;
		}
	}

	&--contacts {
		.primary-navigation__items {
			& > li {
				& + li {
					&::before {
						height: 4.219rem;
					}
				}
			}
		}
	}
}

.primary-navigation__items {

	.menu-item__caret__text-open,
	.menu-item__caret__text-close {
		@include visuallyhidden;
	}
	.menu-item__caret__text-open {
		display: block;
	}
	.menu-item__caret__text-close {
		display: none;
	}

	[aria-expanded='true'] > span > .menu-item__caret {
		.menu-item__caret__text-open {
			display: none;
		}
		.menu-item__caret__text-close {
			display: block;
		}

		svg {
			transform: rotate( 180deg );
		}
	}

	/* Mobile navigation
		----------------------------------------------- */

	@include respond( $breakpoint-mobile-menu ) {
		align-items: center;
		display: flex;
		flex-direction: column;

		.desktop-menu & {
			display: none;
		}

		// all <li>
		li {
			position: relative;

			// all <a>
			a {
				align-items: center;
				justify-content: center;
				display: flex;
				min-height: 2rem;
				font-size: 1rem;
				text-decoration: none;
				outline-offset: 0;
			}
		}

		// // all carets
		// .menu-item__caret {
		// 	@include button-reset;
		// 	align-items: center;
		// 	color: var( --color-white );
		// 	display: flex;
		// 	height: 2rem;
		// 	justify-content: center;
		// 	left: 100%;
		// 	position: absolute;
		// 	top: 0.75rem;
		// 	width: 2rem;

		// 	.icon {
		// 		@include transition;
		// 		display: block;
		// 		height: 0.875rem;
		// 		width: 0.875rem;
		// 	}
		// }

		// all .sub-menu
		.sub-menu {
			align-items: center;
			display: none;
			flex-direction: column;

			&[aria-hidden='false'] {
				animation: mobile-submenu-in 0.25s ease-in-out;
				display: flex;
			}

			// all lower <li>
			li {
				padding: 0.25rem 0;
				&:last-of-type {
					padding-bottom: 0;
				}

				.menu-item__caret {
					top: 0.25rem;
				}
			}
		}

		// 1st level <li>
		> li {
			padding: 0.75rem 0;

			// 2nd level <ul class="sub-menu"> [closed]
			> ul {
				max-height: 0;
				background: var( --color-primary );
				opacity: 0;

				// 2nd level <ul class="sub-menu"> [open]
				&[aria-hidden='false'] {
					opacity: 1;
					max-height: 999px;
				}

				// 2nd level <li>
				> li {
					// 3rd level <ul class="sub-menu"> [closed]

					a {
						font-size: var( --size-16 );
					}

					> ul {
						max-height: 0;
						opacity: 0;

						// 3rd level <ul class="sub-menu"> [open]
						&[aria-hidden='false'] {
							max-height: 999px;
							opacity: 1;
						}
					}
				}
			}
		}
	}

	/* Desktop navigation
		----------------------------------------------- */

	@include respond( $breakpoint-desktop-menu ) {
		// all <a>
		a {
			font-size: var( --size-14 );

			@include respond( $breakpoint-xl ) {
				font-size: var( --size-16 );
			}

			&:hover,
			&:active,
			&:focus {
				font-weight: var(--font-weight-bold);
			}
		}

		// 1st level <li>
		> li {
			position: relative;
			align-items: center;
			display: flex;
			gap: 1.25rem;

			&.current-menu-item {
				a {
					font-weight: var(--font-weight-bold);
				}
			}

			& + li {
				margin-left: 0.5rem;

				@include respond( $breakpoint-ml ) {
					margin-left: 1.25rem;

					&::before {
						@include transition;
						content: '';
						display: block;
						height: 2.438rem;
						width: 1px;
						background-color: var( --color-white );
					}
				}
			}

			// all dropdown <li>
			li {
				background: var( --color-menu-dropdown-bg );
				&:first-of-type {
					padding-top: 0.25rem;
				}
				&:last-of-type {
					padding-bottom: 0.25rem;
					border-bottom-right-radius: 1.875rem;
				}
				> span > a {
					color: var( --color-menu-dropdown-text );
					display: block;
					line-height: 1.25;
					padding: 0.4rem 0.88rem 0.4rem 0.44rem;
					text-decoration-thickness: 2px;
					text-underline-offset: 2px;
				}
				&:hover,
				&:focus,
				&:active {
					a {
						text-decoration-line: underline;
					}
				}
				.icon {
					color: var( --color-menu-dropdown-text );
					transform: rotate( -90deg );
				}
			}

			// 2nd level <ul class="sub-menu"> [open]
			&:hover > .sub-menu,
			& > .sub-menu[aria-hidden='false'] {
				display: block;
				opacity: 1;
				left: 0;
				animation: main-submenu-in 0.25s ease-in-out;
				&.is-out-of-bounds {
					left: auto;
					right: 0;
				}
			}

			// 2nd level <ul class="sub-menu"> [closed]
			& > .sub-menu {
				width: auto;
				background: var( --color-menu-dropdown-bg );
				border-bottom-right-radius: 1.875rem;
				border-top: 2px solid var( --color-white );
				color: var( --color-white );
				display: none;
				position: absolute;
				left: -999em;
				z-index: 99;
				opacity: 0;
				transition: opacity 0.2s ease-out;

				.menu-item__caret {
					align-self: stretch;
				}

				// 2nd level <li>
				& > li {
					// 2nd level <a>
					& > a {
						display: block;
					}
				}
			}
		}
	}
}

@keyframes mobile-submenu-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes main-submenu-in {
	from {
		opacity: 0;
		transform: translateY( -0.25rem );
	}
	to {
		opacity: 1;
		transform: translateY( 0 );
	}
}
