/* ==========================================================================
   Global and shared style over the theme
   ========================================================================== */

@use '@scss/abstracts/index' as *;

.wrapper {
	@include wrap;
}

.icon {
	display: inline-block;
	fill: currentColor;
	height: 1.5rem;
	vertical-align: middle;
	width: 1.5rem;
}
