{
	"$schema": "https://schemas.wp.org/trunk/block.json",
	"apiVersion": 3,
	"name": "{{namespace}}/{{slug}}",
	"version": "0.1.0",
	"title": "{{title}}",
	"category": "{{category}}",
	"icon": "layout",
	"description": "{{shortDescription}}",
	"keywords": [],
	"supports": {
		"html": false
	},
	"textdomain": "{{textdomain}}",
	"editorScript": "file:./index.js",
	"style": "file:./index.css",
	"editorStyle": "file:./index.css",
	"acf": {
		"mode": "preview",
		"renderTemplate": "render.php",
		"blockVersion": 2
	}
}
